{% extends 'base.html'%}
{% block content%}
<section class="container">
   <div class="row">
      <div class="col" a>
         <form action="" method="post" novalidate>
            <p>
               {{ form.first_name.label }}<br>
               {{ form.first_name(size =32) }}
            </p>
            <p>
               {{ form.last_name.label }}<br>
               {{ form.last_name(size=32) }}
            </p>
            <p>
               {{ form.city.label }}<br>
               {{ form.city(size=32) }}
            </p>
            <p> 
               {{ form.state.label }}<br>
               {{ form.state(size=32)}}
            </p>
            <p>{{ form.submit() }}</p>
         </form>
      </div>
   </div>
</section>
{% endblock%}